<!doctype html>
<html>

<head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <title> My Webpage</title>
  
</head>

<body>
   <div>

    <div id="content">
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <img src="../static/img/donate.png" alt="..."/>&nbsp;&nbsp;<span class="bg-primary text-white font-weight-bold">Plasma Donor App&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="home.html">&nbsp;Home&nbsp;<span class="text-muted">&nbsp;|</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="aboutus.html">&nbsp;About Us&nbsp;<span class="text-muted">&nbsp;|</span></a>
                    </li>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <div class="pull-right">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="login.html">&nbsp;Sign In&nbsp;<span class="text-muted">&nbsp;|</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="register.html">&nbsp;Register&nbsp;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
      
    </div>


   </div>

    <div class="row">
        <div class="col-md-12">
            <p>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
        <div class="has-bg-img bg-purple bg-blend-overlay">
            
            <img class="bg-img" src="../static/img/build-a-thon.png" alt="...">
          
        <div class="Conatin1">

            di
            <p>
                Project Build-A-Thon is a unique initiative launched by SmartInternz in collaboration with IBM Global
                University Programs exclusively to help Faculty upskill their technical skills on emerging technologies
                via project based hands-on learning experience.
            </p>
            <p>
                This program is packed with no-charge access to E-learning, Technical bootcamps, Expert mentoring,
                Project Build-A-Thon and many exciting benefits.
            </p>
            <p>
                To learn more about it <a
                    href='https://smartinternz.com/ibm-build-a-thon-2022'>https://smartinternz.com/ibm-build-a-thon-2022</a>
            </p>


        </div>
        </div> </div>
        <div class="col-md-1">

        </div>
    </div>


  
</body>



<a href="../templates/home.html"></a>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>
