<!doctype html>
<html>

<head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <title> My Webpage</title>
  
</head>

<body>
    <div id="content">
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <img src="../static/img/donate.png" alt="..."/>&nbsp;&nbsp;<span class="bg-primary text-white font-weight-bold">Plasma Donor App&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="home.html">&nbsp;Home&nbsp;<span class="text-muted">&nbsp;|</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="aboutus.html">&nbsp;About Us&nbsp;<span class="text-muted">&nbsp;|</span></a>
                    </li>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <div class="pull-right">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="login.html">&nbsp;Sign In&nbsp;<span class="text-muted">&nbsp;|</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="register.html">&nbsp;Register&nbsp;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

      
    </div>
    
    <div>


        <div class="row">
            <div class="col-md-12">
              <p>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-header">
                  Learn All About Plasma
                </div>
                <div class="card-body">
                  <h5 class="card-title">What is plasma in blood?</h5>
                  <p class="card-text">
                    Plasma is the liquid portion of blood. About 55% of our blood is plasma, and the remaining 45% are red blood
                    cells, white blood cells and platelets that are suspended in the plasma.
        
                    Plasma is about 92% water. It also contains 7% vital proteins such as albumin, gamma globulin and
                    anti-hemophilic factor, and 1% mineral salts, sugars, fats, hormones and vitamins.
                  </p>
                  <p class="card-text">
                    Plasma serves four important functions in our body:
                  <ol>
                    <li>Helps maintain blood pressure and volume.</li>
                    <li>Supply critical proteins for blood clotting and immunity.</li>
                    <li>Carries electrolytes such as sodium and potassium to our muscles.</li> 
                    <li>Helps to maintain a proper pH balance in the body, which supports cell function.</li>
                  </ol>
        
        
                  </p>
                  
                </div>
        
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-header">
                  Plasma Donation
                </div>
                <div class="card-body">
                  <h5 class="card-title">What is a plasma donation?</h5>
                  <p class="card-text">
                    In a plasma-only donation, the liquid portion of the donor’s blood is separated from the cells. Blood is drawn from one arm and sent through a high-tech machine that collects the plasma. The donor’s red blood cells and platelets are then returned to the donor along with some saline. The process is safe and only takes a few minutes longer than donating whole blood.
                    Donated plasma is frozen within 24 hours of being donated to preserve its valuable clotting factors. It can be stored for up to one year and thawed for transfusion to a patient when needed. Red Cross donations are often used directly for hospital patient transfusions, rather than pharmaceutical uses.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-header">
                  Want to donate?
                </div>
                <div class="card-body">
                  <h5 class="card-title">Who should donate plasma?<br></h5>
                  <p class="card-text">
                    The Red Cross urges people with type AB blood to consider a plasma donation. AB is the only universal plasma and can be given to patients of any blood type. This means that type AB plasma transfusions can be given immediately, without losing precious time determining if the patient’s blood type is compatible. In emergency medicine, such as caring for a major trauma or burn patient, time saved can mean the difference between life and death.
                  </p>
                  <a href="register.html" class="btn btn-primary">Register your name</a>
                </div>
              </div>
              <div class="col-md-2">
              </div>
            </div>
        











    </div>
</body>
<a href="../templates/home.html"></a>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>